:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--system-ui);
  font-size: 16px;
  line-height: 1.5;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.zoom {
  transition: transform .2s;
}
.zoom:hover {
  transform: scale(1.05);
}
